/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
# /resources/js/actions  # Commenté pour permettre le commit des actions générées pour la production
# /resources/js/routes  # Commenté pour permettre le commit des routes générées pour la production
# /resources/js/wayfinder  # Commenté pour permettre le commit du wayfinder généré pour la production
/vendor
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
